body {
	margin: 0;
	padding: 0;
	background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  width= 100%;
  height: 100vh;
}
.link-button{
  background-color: #efefef;
  border: 1.5px solid #767676;
  border-radius: 4px;
  padding: 5px 5px;
  font-size: 20px;
  color: red;
  font-weight: normal; 
  text-decoration: none; 
  h
}
.link-button:hover{
  color: blue; 
  
}
#link{
  background-color: rgba(95, 158, 160, 0.76);
  font-size: 24px; 
  padding: 2px;
  padding-left: 0px;
}
#linkP{
  background-color: rgba(95, 158, 160, 0.76);
  font-size: 24px; 
  padding-left: 0px;
}
a {color: #ff0000; 
  font-size: 24px; 
  font-weight: bold; 
  text-decoration: none; 
}   
a:hover {
  color: yellow; 
  cursor: pointer;
} 
#farbe{
  color: #f00;
  background-color: beige;
  font-size: 40px;
  text-align: center;
}
h2 {
  color:rgb(53, 75, 186);
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 40px;
}
h3 {
  color:rgb(53, 75, 186);
  font-size: 26px;
  margin: 0px 0px;
}
h4 {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 20px;
}
#klAbstand{
  font-size: 4px;
}
.tg  {border:solid grey 2px;border-collapse:collapse;border-spacing:0;margin-top: 0px margin-bottom: 0px;}
.tg td{border-style:none;border-width:0px;font-family:Arial, sans-serif;font-size:16px;overflow:hidden;
  padding:5px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:16px;font-weight:normal;
  overflow:hidden;padding:5px 5px;word-break:normal;}
.tg .tg-l0c7{color:#3166ff;font-size:20px;text-align:left;vertical-align:top}
.tg .tg-ccme{color:#3166ff;font-size:20px;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-n7dx{color:#fe0000;font-size:20px;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-f3f7{color:#3166ff;font-size:22px;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-48no{color:#fe0000;font-size:22px;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-cpa8{color:#f8a102;font-size:20px;font-weight:bold;text-align:left;vertical-align:top;}
form {
  font-size: 26px;
  font-weight: bold;
	margin-left: 0px;
}
input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
#hilfeblock {
  background-color: rgb(245, 235, 146);
  border: 6px solid rgb(245, 131, 10);
  width: 380px;
  margin: 40px auto;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
  display: none;
}
#hilfe {
  font-size: 26px;
  margin-left: 10px;
  display: none;
}
#hiFett{
  font-size: 26px;
  font-weight: bold;
  margin: 5px 0px;
}
#hiGr{
  font-size: 26px;
  margin-top: 0px;
}
#hiMaFett{
  font-size: 26px;
  margin-top: 0px;
  color:rgb(0, 42, 255);
  font-weight: bold;
  margin-top: 5px;
}
#hiMaFettw{
  font-size: 26px;
  margin-top: 0px;
  color:rgb(252, 0, 0);
  font-weight: bold;
  margin-top: 5px;
}
#hiMaNormal{
  font-size: 26px;
  margin-top: 0px;
  color:rgb(0, 42, 255);
}
  #hiMaFett{
  font-size: 26px;
  margin-top: 0px;
  color:rgb(0, 42, 255);
  margin-top: 5px;
}
.container{
    background-color: #fff;
    width: 380px;
    margin: 20px auto;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    display: block;
}
.containerP{
  background-color: #fff;
  width: 380px;
  margin: 20px auto;
  border-radius: 0px;
  box-shadow: 5px 5px 10px black;
  display: block;
}
.answer-buttons button{
  width: 100%;
  margin: 10px 0px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 26px;
  text-align: left;
  background-color: #d0d0d0;
  cursor: pointer;
  border-radius: 10px;
}
.answer-buttons button:hover{
  background-color: #6a6161;
} 
#next{
  font-size: 26px;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: rgb(164, 164, 246);
  cursor: pointer;
  border-radius: 5px;
  display: none;
} 
#next:hover{
  background-color: rgb(114, 114, 248);
}